.sidebar {
    background-color: $color-primary;
    position: fixed;
    width: 8rem;
    height: 100vh;
    grid-column: sidebar-start / sidebar-end;
    grid-row: 1 / -1;
    z-index: 10;

    display: flex;
    justify-content: center;

    @media only screen and (max-width: $bp-large) {
        height: 0;
        width: 0;
        grid-column: 0 / 0;
    }

    &__button {
        height: 8rem;
        width: 8rem;
        top: 0rem;
        left: 0rem;
        padding-top: 0.4rem;
        border-radius: 50%;
        z-index: 2000;
        cursor: pointer;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        @media only screen and (max-width: $bp-large) {
            position: fixed;
            padding-top: 0;
            top: unset;
            left: unset;
            bottom: 4rem;
            right: 4rem;
        }
    }

    &__background {
        height: 8rem;
        width: 8rem;
        border-radius: 50%;
        position: fixed;
        top: 0rem;
        left: 0rem;
        background-image: radial-gradient($color-primary, $color-primary);
        z-index: 1000;
        transition: transform 0.4s cubic-bezier(0.86, 0, 0.07, 1);

        @media only screen and (max-width: $bp-large) {
            top: unset;
            left: unset;
            bottom: 4rem;
            right: 4rem;
        }
    }

    &__nav {
        height: 100vh;
        position: fixed;
        bottom: 0rem;
        right: 0rem;
        z-index: 1500;

        opacity: 0;
        width: 0;
        transition: all 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    }

    &__list {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        list-style: none;
        text-align: center;
        width: 100%;
    }

    &__item {
        margin: 1rem;
    }

    &__link {
        &:link,
        &:visited {
            display: inline-block;
            font-size: 3rem;
            font-weight: 300;
            padding: 1rem 2rem;
            color: $color-white;
            text-decoration: none;
            text-transform: uppercase;
            background-image: linear-gradient(
                120deg,
                transparent 0%,
                transparent 50%,
                $color-white 50%
            );
            background-size: 230%;
            transition: all 0.6s;
        }

        &:hover,
        &:active {
            background-position: 100%;
            color: $color-primary;
            transform: translateX(1rem);
        }

        @media only screen and (max-width: $bp-medium) {
            &:hover,
            &:active {
                background-position: inherit;
                color: inherit;
                transform: none;
            }
        }
    }

    &__background--active {
        transform: scale(80);
    }

    &__nav--active {
        opacity: 1;
        width: 100%;
    }

    //ICON
    &__icon {
        &-line-1,
        &-line-2,
        &-line-3 {
            width: 4.5rem;
            background-color: white;
            height: 3px;
            transition: all 0.5s;
        }

        &-line-2 {
            margin: 5px 0;
        }

        .show &-line-1 {
            transform: rotate(45deg) translate(5px, 5px);
        }
        .show &-line-2 {
            opacity: 0;
        }
        .show &-line-3 {
            transform: rotate(-45deg) translate(6px, -7px);
        }
    }

    &__text {
        color: $color-white;
        font-size: 1.5rem;
        line-height: 1;
        padding-top: 1.2rem;
        margin: 0;

        @media only screen and (max-width: $bp-large) {
            display: none;
        }
    }
}
