.testimonials {
    grid-column: full-start / full-end;
    position: relative;
    padding: 5rem 0 3rem;
    font-family: $font-display;
}

.slider {
    max-width: 100rem;
    height: 50rem;
    margin: 0 auto;
    position: relative;

    /* IN THE END */
    overflow: hidden;
}

.slide {
    position: absolute;
    top: 0;
    width: 100%;
    height: 50rem;

    display: flex;
    align-items: center;
    justify-content: center;

    /* THIS creates the animation! */
    transition: transform 1s;
}

.slide > img {
    /* Only for images that have different size than slide */
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.slider__btn {
    position: absolute;
    top: 50%;
    z-index: 5;

    border: none;
    background: rgba($color-grey-light-1, 0.7);
    font-family: inherit;
    color: #333;
    border-radius: 50%;
    height: 5.5rem;
    width: 5.5rem;
    font-size: 3.25rem;
    cursor: pointer;
}

.slider__btn--left {
    left: 6%;
    transform: translate(-50%, -50%);
    @media only screen and (max-width: $bp-small) {
        left: 8%;
    }
}

.slider__btn--right {
    right: 6%;
    transform: translate(50%, -50%);
    @media only screen and (max-width: $bp-small) {
        right: 8%;
    }
}

.dots {
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
}

.dots__dot {
    border: none;
    background-color: $color-grey-light-2;
    opacity: 0.7;
    height: 1rem;
    width: 1rem;
    border-radius: 50%;
    margin-right: 1.75rem;
    cursor: pointer;
    transition: all 0.5s;

    /* Only necessary when overlying images */
    /* box-shadow: 0 0.6rem 1.5rem rgba(0, 0, 0, 0.7); */
}

.dots__dot:last-child {
    margin: 0;
}

.dots__dot--active {
    background-color: $color-primary;
    /* background-color: #888; */
    opacity: 1;
}

/* TESTIMONIALS */
.testimonial {
    width: 65%;
    position: relative;

    &::before {
        content: "\201C";
        position: absolute;
        top: -5.7rem;
        left: -6.8rem;
        line-height: 1;
        font-size: 20rem;
        font-family: inherit;
        color: $color-primary;
        z-index: -1;
    }

    &__header {
        font-size: 2.6rem;
        font-weight: 500;
        margin-bottom: 1.5rem;
        color: $color-black;
    }

    &__text {
        font-size: 1.7rem;
        margin-bottom: 3.5rem;
        color: $color-black;
    }

    &__author {
        margin-left: 3rem;
        font-style: normal;

        display: grid;
        grid-template-columns: 6.5rem 1fr;
        column-gap: 2rem;
    }

    &__photo {
        grid-row: 1 / span 2;
        width: 6.5rem;
        border-radius: 50%;
    }

    &__name {
        font-size: 1.7rem;
        font-weight: 500;
        align-self: end;
        margin: 0;
        color: $color-black;
    }

    &__location {
        font-size: 1.5rem;
        color: $color-black;
    }
}

.section__title--testimonials {
    margin-bottom: 4rem;
}

.bg-video {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.15;
    overflow: hidden;

    &__content {
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
}
